@{
    ViewData["Title"] = "Home Page";
}
<style>
font-family: 'Roboto', sans-serif;
    /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
    scroll-margin-inline-start: 1rem;
}

.Title{
    font-size: 150px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    color: ghostwhite;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    line-height: 1.25em;
    font-style: normal;
}
h1{
    font-size: 70px;
    text-align: center;
        font-family: "Bebas Neue", serif;
        font-style:italic;
        color: ghostwhite;
    }

    .header {
        background: url(https://drive.google.com/file/d/1WlyDsqbu2kWS-VcDIVH2wlnz6HztYpJL/view?usp=drive_link) repeat-x center center;
        background-size: cover;
        text-align: center;
        align-content: center;
        background-repeat: repeat-x;
        background-size: 100% 100%;
        min-width: 100vh;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }
    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 10px;
    }

    .header .container {
        position: relative;
        top: 0px;
    }
    .containerHorizontal{
        display: flex;
        justify-content: space-between; /* Adjusts spacing between items */
    }
    .containerScrollHorizontal{
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between; /* Adjusts spacing between items */
        overflow-x: scroll;
        overflow-y: hidden;
        height: 600px;
        white-space: nowrap;
        background: linear-gradient(-45deg, #1a1a1a 40%, #4F3745 100%);
        width:200vw;
        justify-content: center;
        align-items: center;
        transform: translate(-30%,5%);
    }   
    .containerButton{
        display: inline-block;
        position: relative;
        text-align: center;
        color: white;
        flex: 0  1 auto; /* Each item takes up equal space */
        padding: 10px;

    }

    .centeredText {
        width:750px;
        position: absolute;
        top: 0%;
        left: 200%;
        white-space: pre-wrap;
    }

    ::-webkit-scrollbar {
        width: 20px;
        border-radius: 10px;
    }


    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(-45deg, #E101A9, red 50%, blue 90%, green 100%);
        outline-color:ghostwhite;
        outline-width:5px;
        overflow-x:hidden;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(-45deg, #E101A9, ghostwhite 100%);
        }

</style>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="Title" style=" white-space: nowrap; font-style: normal; ">

<img src="~/Untitled design (5).png" alt="Image Alt Text" style="align:center; width: 1500px; height: 400px; transform: translate(-10%, 0%); outline:solid; outline-width: 5px; outline-color: ghostwhite;">
    <div class="containerButton">
            <div class="centeredText" style="top: 25%; transform: translate(-250%, -65%);line-height: 0.99;">
            Blog: Kean Software #1
        </div>
    </div>
</div>
<body style="background-color: black; overflow-x:hidden;"> HII </body>