@model KeanSoftware.Models.Lesson2
<style>

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black;
        border-radius: 10px;
        scroll-margin-inline-start: 1rem;
    }

    :root {
        --background-color: black;
        --text-color: hsl(0, 0%, 100%);
    }

    .Title {
        font-size: 200px;
        text-align: center;
        font-family: "Spicy Rice", serif;
        font-style: normal;

        color: ghostwhite;
        text-shadow: 2px 2px 20px black;
        text-decoration-color: red;
    }

    h1 {
        font-size: 70px;
        text-align: center;
        font-family: "Spicy Rice", serif;
        color: lightgrey;
        font-style: italic;
        text-shadow: 2px 2px 20px orangered;
        text-decoration-color: red;
    }

    .spicy-rice-regular {
        font-family: "Spicy Rice", serif;
        font-weight: 400;
        font-style: normal;
    }

    body {
        --background-color: black;
    }

    .img {
        height: 125px;
        width: 250px;
        image-shadow: 2px 2px 20px orangered;
    }

    .buttons {
        display: flex;
        flex-direction: column; /* Stack buttons vertically */
    }

    .text {
        margin-left: 60px; /* Space between text and buttons */
        width: 50vw;
        height: 500px;
        border: 5px solid black;
        background-color: black;
    }

    .container {
        display: flex;
        align-items: flex-start; /* Align items to the top */
    }
</style>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: black;">

<iframe style="height:1200px; width:1920px; margin: auto; right: 10vw; top: 20vh; overflow: hidden; position:absolute;" src="https://seankean2028.github.io/DataFrog/" scrolling="no"></iframe>

    <div class="Title">
        @Model.name
    </div>

    @for(int i = 0; i < Model.filesNames.Length; i++){
        <h1>@Model.filesNames[i]</h1>
    }
    </div>

</body>
</html>